.navBarDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #21222A;
  padding-left: 20px;
  padding-right: 20px;
  max-height: 91px;
}

.navBarDiv div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #00D8FF;
  gap: 7px;
}

.navBarDiv div img {
  height: 50px; 
  width: 50px;
}

.navBarDiv h3 {
  color: #FFFFFF;
}
