.navBarDiv {
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #21222A;
  padding-left: 20px;
  max-height: 91px;
  
 
}

.navBarDiv img {
  
}

.navBarDiv h1 {
  color: #00D8FF;
}