.container {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #21222A;
  padding: 15px 25px;
  min-height: 40px;
  width: 100%;
}

.navbar__logo {
  display: flex;
  align-items: center;
  gap: 7px;
  color: #00D8FF;
  font-size: 1.2rem;
}

.navbar__logo img {
  height: 3rem; 
  width: 3rem;
}

.navbar h3 {
  color: #FFFFFF;
  font-size: 1.2rem;
}


.main {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  padding: 57px 35px 150px;
  background-color: #282D35;
  background-image: url('/react-svgrepo-1024.png');
  background-repeat: no-repeat;
  background-position: 175% center;
  background-size: 60%;
  overflow: hidden;
}

.main__heading {
  margin: 0;
  font-size: 3rem;
  letter-spacing: -0.05em;
}

.main__facts-list {
  max-width: 60%;
  padding-left: 60px;
  font-size: 1.2rem;
  font-weight: 300;
}

.main__facts-list > li {
  padding-block: 5px;
}

.main__facts-list > li::marker {
  font-size: 2.2rem;
  color: #61DAFB;
}